#  Pandas

<b>0. Import libraries, check versions</b>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
pd.__version__

'1.1.3'

<b>0.1. Read csv, do primary analysis</b>

In [ ]:
df = pd.read_csv('student-mat.csv', sep=';')

In [ ]:
pd.set_option('display.max_columns', 100)

In [ ]:
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,course,mother,2,2,0,yes,no,no,no,yes,yes,no,no,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,course,father,1,2,0,no,yes,no,no,no,yes,yes,no,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,other,mother,1,2,3,yes,no,yes,no,yes,yes,yes,no,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,home,mother,1,3,0,no,yes,yes,yes,yes,yes,yes,yes,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,home,father,1,2,0,no,yes,yes,no,yes,yes,no,no,4,3,2,1,2,5,4,6,10,10

In [ ]:
df.shape

(395, 33)

In [ ]:
df.describe(include='all')

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
count,395,395,395.000000,395,395,395,395.000000,395.000000,395,395,395,395,395.000000,395.000000,395.000000,395,395,395,395,395,395,395,395,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000
unique,2,2,NaN,2,2,2,NaN,NaN,5,5,4,3,NaN,NaN,NaN,2,2,2,2,2,2,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,GP,F,NaN,U,GT3,T,NaN,NaN,other,other,course,mother,NaN,NaN,NaN,no,yes,no,yes,yes,yes,yes,no,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,349,208,NaN,307,281,354,NaN,NaN,141,217,145,273,NaN,NaN,NaN,344,242,214,201,314,375,329,263,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,16.696203,NaN,NaN,NaN,2.749367,2.521519,NaN,NaN,NaN,NaN,1.448101,2.035443,0.334177,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.944304,3.235443,3.108861,1.481013,2.291139,3.554430,5.708861,10.908861,10.713924,10.415190
std,NaN,NaN,1.276043,NaN,NaN,NaN,1.094735,1.088201,NaN,NaN,NaN,NaN,0.697505,0.839240,0.743651,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.896659,0.998862,1.113278,0.890741,1.287897,1.390303,8.003096,3.319195,3.761505,4.581443
min,NaN,NaN,15.000000,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,1.000000,1.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,3.000000,0.000000,0.000000
25%,NaN,NaN,16.000000,NaN,NaN,NaN,2.000000,2.000000,NaN,NaN,NaN,NaN,1.000000,1.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.000000,3.000000,2.000000,1.000000,1.000000,3.000000,0.000000,8.000000,9.000000,8.000000
50%,NaN,NaN,17.000000,NaN,NaN,NaN,3.000000,2.000000,NaN,NaN,NaN,NaN,1.000000,2.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.000000,3.000000,3.000000,1.000000,2.000000,4.000000,4.000000,11.000000,11.000000,11.000000
75%,NaN,NaN,18.000000,NaN,NaN,NaN,4.000000,3.000000,NaN,NaN,NaN,NaN,2.000000,2.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.000000,4.000000,4.000000,2.000000,3.000000,5.000000,8.000000,13.000000,13.000000,14.000000
max,NaN,NaN,22.000000,NaN,NaN,NaN,4.000000,4.000000,NaN,NaN,NaN,NaN,4.000000,4.000000,3.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,75.000000,19.000000,19.000000,20.000000

<b>1. How many variants of mother's job are in the dataset? (min 3 variants)</b>

In [ ]:
len(df.Mjob.unique())

5

In [ ]:
len(df.Mjob.drop_duplicates())

5

In [ ]:
len(df.Mjob.value_counts())

5

<b>2. Find how many girls have good final grade (not less than 15) and have romantic relationship (number and percentage)</b>

In [ ]:
df_f = df[df.sex == 'F']
df_f_group = df_f[(df_f.G3 >= 15) & (df_f.romantic == 'yes')]

num = len(df_f_group)
percentage = 100 * len(df_f_group) / len(df_f)

print(f'{num} girls, which is {round(percentage, 2)}% of all girls')

9 girls, which is 4.33% of all girls

<b>3. Is it better for student's academic performance if his/her parents work at the same job ('other' should be excluded)?</b>

In [ ]:
df_ = df[(df.Mjob != 'other') & (df.Fjob != 'other')]

same_jobs_mean_grade = df_[df_.Mjob == df_.Fjob].G3.mean()
diff_jobs_mean_grade = df_[df_.Mjob != df_.Fjob].G3.mean()

print(same_jobs_mean_grade, diff_jobs_mean_grade)

11.573529411764707 10.26027397260274

As we can see, students with parents work at the same job show  better grades results on average.

<b>4. Who is more healthy: students with final grade not less than 15 or not?</b>

In [ ]:
best_grades_health = df[df.G3 >= 15].health.mean()
others_health = df[df.G3 < 15].health.mean()
print(best_grades_health, others_health)

3.3972602739726026 3.590062111801242

So, students with good final grades are slightly less healthy than others.

<b>5. Is there a direct link between going out with friends and final grade?</b>

In [ ]:
df.groupby('goout').G3.mean()

goout
1     9.869565
2    11.194175
3    10.961538
4     9.651163
5     9.037736
Name: G3, dtype: float64

It seems like there's no direct link, but going out with friends sometimes sounds like a good idea.

<b>6. Is there a connection between Mother's education and desire to take higher education?</b>

In [ ]:
df['higher_int'] = df.higher.map(lambda s: 1 if s == 'yes' else 0)
df.groupby('Medu').higher_int.mean()

Medu
0    0.666667
1    0.898305
2    0.932039
3    0.949495
4    0.992366
Name: higher_int, dtype: float64

Thus, there's direct dependency between Mother's education level and desire to take higher education.

<b>7. Could we say that girls have more failures when they have romantic relationship than boys?</b>

In [ ]:
df[df.romantic == 'yes'].groupby('sex').failures.mean()

sex
F    0.417722
M    0.452830
Name: failures, dtype: float64

Boys have more failures when they have romantic relationship than girls.

<b>8. Find pairs of jobs with the most and the least average of absences.</b>

In [ ]:
# Let's consider only concrete professions
df_ = df[(df.Mjob != 'other') & (df.Fjob != 'other')]

In [ ]:
means = df_.groupby(['Fjob', 'Mjob']).absences.mean()
print('Most average of absences: ', means.idxmax())
print('Least average of absences: ', means.idxmin())

Most average of absences:  ('health', 'at_home')
Least average of absences:  ('at_home', 'at_home')

So, parents sitting at home are more attentive to their children class attendance.

<b>9. Calculate the average final grade by romantic relationship and availability of Internet access for boys and girls. Who has the biggest rate?</b>

In [ ]:
df.groupby(['sex', 'romantic', 'internet']).G3.mean()

sex  romantic  internet
F    no        no           9.464286
               yes         10.851485
     yes       no           8.400000
               yes          9.101449
M    no        no           9.681818
               yes         11.392857
     yes       no           9.833333
               yes         10.489362
Name: G3, dtype: float64

No relationship and Internet access are the key of great grades for both boys and girls -_-

<b>10. Print statistics for free time after school by Mother's and Father's job . Find combination with the biggest average rate. (one of the variants that I would like to see - using describe())</b>

In [ ]:
df.groupby(['Mjob', 'Fjob']).freetime.describe()

                   count      mean       std  min   25%  50%   75%  max
Mjob     Fjob
at_home  at_home     7.0  3.428571  0.786796  3.0  3.00  3.0  3.50  5.0
         health      2.0  2.000000  1.414214  1.0  1.50  2.0  2.50  3.0
         other      33.0  3.060606  0.933387  1.0  3.00  3.0  4.00  5.0
         services   15.0  2.866667  0.833809  1.0  2.50  3.0  3.00  4.0
         teacher     2.0  3.000000  0.000000  3.0  3.00  3.0  3.00  3.0
health   health      6.0  3.833333  0.983192  2.0  4.00  4.0  4.00  5.0
         other      17.0  3.352941  1.114741  1.0  3.00  4.0  4.00  5.0
         services   10.0  2.500000  0.971825  1.0  2.00  2.0  3.00  4.0
         teacher     1.0  4.000000       NaN  4.0  4.00  4.0  4.00  4.0
other    at_home     5.0  3.000000  0.707107  2.0  3.00  3.0  3.00  4.0
         health      2.0  2.500000  0.707107  2.0  2.25  2.5  2.75  3.0
         other     104.0  3.240385  0.970389  1.0  3.00  3.0  4.00  5.0
         services   24.0  3.458333  1.102533  1.0  3.00  3.0  4.00  5.0
         teacher     6.0  2.333333  1.366260  1.0  1.25  2.0  3.50  4.0
services at_home     6.0  3.833333  0.752773  3.0  3.25  4.0  4.00  5.0
         health      4.0  2.750000  0.500000  2.0  2.75  3.0  3.00  3.0
         other      42.0  3.261905  1.127473  1.0  2.25  3.0  4.00  5.0
         services   43.0  3.325581  0.969068  2.0  3.00  3.0  4.00  5.0
         teacher     8.0  2.875000  0.834523  2.0  2.00  3.0  3.25  4.0
teacher  at_home     2.0  4.500000  0.707107  4.0  4.25  4.5  4.75  5.0
         health      4.0  2.500000  1.290994  1.0  1.75  2.5  3.25  4.0
         other      21.0  3.714286  0.643650  3.0  3.00  4.0  4.00  5.0
         services   19.0  2.947368  0.779864  2.0  2.00  3.0  3.50  4.0
         teacher    12.0  3.916667  0.996205  2.0  3.00  4.0  5.00  5.0

In [ ]:
df.groupby(['Mjob', 'Fjob']).freetime.mean().idxmax()

('teacher', 'at_home')

<b>11. Calculate average rate of education for each job for Father for different family sizes.</b>

In [ ]:
df.groupby(['Fjob', 'famsize']).G3.mean()

Fjob      famsize
at_home   GT3         9.083333
          LE3        11.750000
health    GT3        11.750000
          LE3        11.333333
other     GT3         9.954248
          LE3        10.765625
services  GT3        10.125000
          LE3        10.741935
teacher   GT3        11.541667
          LE3        14.000000
Name: G3, dtype: float64

hildren from small families are more likely to perform well at school, especially when their parents are teachers.

<b>12. Calculate average final grade by quality of family relationship and parent's cohabitation status. Which case has the biggest average grade?</b>

In [ ]:
means = df.groupby(['famrel', 'Pstatus']).G3.mean()
means

famrel  Pstatus
1       A          11.500000
        T          10.333333
2       A          11.000000
        T           9.666667
3       A           9.666667
        T          10.080645
4       A          10.529412
        T          10.342697
5       A          12.769231
        T          10.559140
Name: G3, dtype: float64

In [ ]:
means.idxmax()

(5, 'A')

<b>13. What is the smallest age in a dataset? How many students of this age? What is the percentage of students with final grade not less than 15? What is the percentage of boys and girls from this slice?</b>

In [ ]:
df.age.min()

15

In [ ]:
len(df[df.age == df.age.min()])

82

In [ ]:
df_ = df[df.G3 >= 15]
percentage = round(len(df_) / len(df) * 100, 2)

In [ ]:
boys_perc = round(len(df_[df_.sex == 'M']) / len(df_) * 100, 2)
print(f'{percentage}% students with grade >= 15, {boys_perc}% of them are boys.')

18.48% students with grade >= 15, 56.16% of them are boys.